@model IEnumerable<LonghornBankProject.Models.PayeeTransaction>

@{
    ViewBag.Title = "PayBills";
}

<h2>Pay My Bills</h2>

@using (Html.BeginForm("PayBills", "PayBills", FormMethod.Post))
{

    <p>
        @Html.ActionLink("Create New Payee", "CreatePayee")
    </p>
    <p>
        @Html.ActionLink("Add Payee", "AddPayee")
    </p>


    <table class="table">
        <tr>
            <th>
                Choose Account to Pay From:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {

            <tr>
                @Html.Partial("_PayeeTransactionPartial", item)
                <td>
                    @Html.ActionLink("Details", "PayeeDetails", new { id = item }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item })

                </td>
            </tr>
    }
    
    </table>

}
